.word {
  position: absolute;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  top: 100px;
  z-index: 1; /* Place the header above the doodle (z-index: 1) */
}

.intro {
  position: absolute;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  width: 100%;
  color: white;
  top: 20px;
  z-index: 1; /* Place the header above the doodle (z-index: 1) */
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  z-index: 1;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.button {
  width: auto;
  font-size: large;
  z-index: 1;
  position: absolute;
  top: 200px;
  fill: white;
  margin-right: 10px;
}
.button:hover {
  fill: rgb(245, 168, 168);
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.education {
  z-index: 1;
  position: absolute;
  background: linear-gradient(
    57.4deg,
    rgb(249, 206, 183) 4.6%,
    rgb(234, 174, 202) 26%,
    rgb(210, 182, 226) 49.1%,
    rgb(173, 209, 242) 86.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  top: 300px;
  left: 5%;
}
.education {
  margin: 20px;
}
.education menu {
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
  margin: 12px;
}
.education menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: #a18aba;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.education menu button:hover {
  background-color: #1b082f;
  color: white;
}
